ul li {
    list-style: none;
}

/* lines css */

.line {
    position: absolute;
    z-index: 1;
}

.connection {
    background-color: #888888;
}

.street {
    background-color: black;
}

.transitLine {
    background-color: gold;
}

/* blocks css */

.block {
    position: absolute;
}

.park {
    background-color: lightgreen;
}

.building {
    background-color: darkgray;
}

.water {
    background-color: lightskyblue;
}

/* nodes css */

.node {
    width: 10px; 
    height: 10px; 
    border-radius: 50%; 
    position: absolute;
    z-index: 2;
}

.poi {
    border: 3px solid black;
    background-color: white;
}

.specialEvent {
    border: 3px solid palevioletred;
    background-color: purple;
}

.incident {
    border: 3px solid orange;
    background-color: orangered;
}

.intersection {
    border: 3px solid darkgray;
    background-color: grey;
}

/* shadow on mouseover for all added places*/
.poi:hover, .street:hover, .park:hover, 
.building:hover, .water:hover, .transitLine:hover, 
.specialEvent:hover, .incident:hover {
    box-shadow: 0 0 10px #888888;
}

/* containers css */

.SMDcontainer {
    border: 3px solid grey;
    position: relative;
    overflow: auto;
    width: auto;
    padding: 5px;
    margin: 50px;
}

.mapContainer {
    position: relative;
    border: 3px solid lightgrey;
    padding: 5px;
    float:left;
    background-color: rgb(229, 234, 240);
    margin:5px;
}

.titleContainer {
    position: relative;
    padding: 5px;
    float:left;
    margin:5px;
}

.controlBox {
    border: 3px solid lightgrey;
    position: relative;
    width: 300px;
    height: auto;
    padding: 20px;
    margin:5px;
    }

.controlContainer {
    float: left;
}

/* misc. css */

.highlight {
    font-weight: bold;
    box-shadow: 0 0 20px red;
}

.hoverOver {
    font-weight: bold;
}

.placeLabel {
    position: absolute;
    width:  50px;
    font-size: 10px;
    margin: 5px;
    color: #333333;
    padding: 5px;
}

.controlLabel {
    font-size: 12px;
    margin: 5px;
    color: grey;
    padding: 5px;
}

/* css for the map legend */

.blockIcon {
    width: 10px;
    height: 10px;
    float: left;
}

.lineIcon {
    width: 25px;
    height: 5px;
    float: left;
}

.nodeIcon {
    width: 10px; 
    height: 10px; 
    border-radius: 50%; 
}